/* frontend/src/index.css */

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f4f4f9; /* El color claro que definimos para tu tienda */
  color: #333;
}

/* El contenedor principal de React */
#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  max-width: none; /* ¡Esta era la línea que te bloqueaba! */
  text-align: left;
}